In [1]:
import reskit as rk

# Initialize a MERRA data file

* In this case, rk.\_TEST\_DATA_["weather_data"] points to a netCDF4 file on your machine with climate model weather datasets
* If rk.\_TEST\_DATA_["weather_data"] points to a folder, all netCDF4 files in that folder will be scanned

In [2]:
print(rk._TEST_DATA_["weather_data"])

c:\users\s.ryberg\fzj\repos\res\reskit\test\data\weather_data

In [4]:
# The 'bounds' input limits the spatial domain of the weath data which is loaded into memory
#  - given as: [low-lat, low-lon, high-lat, high-lon]

# The files scanned will be listed, unless verbose=False is specified

src = rk.weather.sources.MerraSource(rk._TEST_DATA_["weather_data"], bounds=[5,49,7,52])

c:\users\s.ryberg\fzj\repos\res\reskit\test\data\weather_data\MERRA_tavg1_2d.2015.Europe.PS.nc4
c:\users\s.ryberg\fzj\repos\res\reskit\test\data\weather_data\MERRA_tavg1_2d.2015.Europe.SWGDN.nc4
c:\users\s.ryberg\fzj\repos\res\reskit\test\data\weather_data\MERRA_tavg1_2d.2015.Europe.T2M.nc4
c:\users\s.ryberg\fzj\repos\res\reskit\test\data\weather_data\MERRA_tavg1_2d.2015.Europe.T2MDEW.nc4
c:\users\s.ryberg\fzj\repos\res\reskit\test\data\weather_data\MERRA_tavg1_2d.2015.Europe.U2M.nc4
c:\users\s.ryberg\fzj\repos\res\reskit\test\data\weather_data\MERRA_tavg1_2d.2015.Europe.U50M.nc4
c:\users\s.ryberg\fzj\repos\res\reskit\test\data\weather_data\MERRA_tavg1_2d.2015.Europe.V2M.nc4
c:\users\s.ryberg\fzj\repos\res\reskit\test\data\weather_data\MERRA_tavg1_2d.2015.Europe.V50M.nc4

In [5]:
# See all of the variables in this file...
src.variables

,name,units,path,shape
time,time,minutes since 2015-01-01 00:30:00,c:\users\s.ryberg\fzj\repos\res\reskit\test\da...,"(71,)"
lon,longitude,degrees_east,c:\users\s.ryberg\fzj\repos\res\reskit\test\da...,"(5,)"
lat,latitude,degrees_north,c:\users\s.ryberg\fzj\repos\res\reskit\test\da...,"(7,)"
PS,surface_pressure,Pa,c:\users\s.ryberg\fzj\repos\res\reskit\test\da...,"(71, 7, 5)"
SWGDN,surface_incoming_shortwave_flux,W m-2,c:\users\s.ryberg\fzj\repos\res\reskit\test\da...,"(71, 7, 5)"
T2M,2-meter_air_temperature,K,c:\users\s.ryberg\fzj\repos\res\reskit\test\da...,"(71, 7, 5)"
T2MDEW,dew_point_temperature_at_2_m,K,c:\users\s.ryberg\fzj\repos\res\reskit\test\da...,"(71, 7, 5)"
U2M,2-meter_eastward_wind,m s-1,c:\users\s.ryberg\fzj\repos\res\reskit\test\da...,"(71, 7, 5)"
U50M,eastward_wind_at_50_meters,m s-1,c:\users\s.ryberg\fzj\repos\res\reskit\test\da...,"(71, 7, 5)"
V2M,2-meter_northward_wind,m s-1,c:\users\s.ryberg\fzj\repos\res\reskit\test\da...,"(71, 7, 5)"
V50M,northward_wind_at_50_meters,m s-1,c:\users\s.ryberg\fzj\repos\res\reskit\test\da...,"(71, 7, 5)"

# Preload the data in this region

In [6]:
# Load a specific variable
src.load("U50M", name="wind_speed")

# Get the time series for a specific location

In [7]:
# Get a time series for a single location
# Locations are given as (Lon, lat)
t = src.get( "wind_speed", locations = (6.,50.) )

t.head()

2015-01-01 00:30:00.000013+00:00    3.564828
2015-01-01 01:30:00+00:00           3.401189
2015-01-01 02:30:00.000026+00:00    3.127785
2015-01-01 03:30:00.000013+00:00    2.838547
2015-01-01 04:30:00+00:00           2.414742
Name: (6.00000,50.00000), dtype: float32

In [8]:
# Get a time series for multiple locations
t = src.get( "wind_speed", locations = [(5.5,50.), (6.0,50.), (6.7,50.)])

t.head()

,"(5.50000,50.00000)","(6.00000,50.00000)","(6.70000,50.00000)"
2015-01-01 00:30:00.000013+00:00,2.886117,3.564828,3.810922
2015-01-01 01:30:00+00:00,2.529118,3.401189,3.825017
2015-01-01 02:30:00.000026+00:00,2.138527,3.127785,3.693214
2015-01-01 03:30:00.000013+00:00,1.761887,2.838547,3.489914
2015-01-01 04:30:00+00:00,1.258858,2.414742,3.195015

In [9]:
# Get a time series for a single location, but interpolate the surrounding MERRA points the specified location(s)
# Options are:
#  'bilinear' -> Uses linear interpolation. Requires the surrounding 4 index points
#  'cubic' -> Uses cubic interpolation. Requires the surrounding 16 index points
t = src.get( "wind_speed", (6.,50.), interpolation='bilinear' )

t.head()

2015-01-01 00:30:00.000013+00:00    3.293344
2015-01-01 01:30:00+00:00           3.052360
2015-01-01 02:30:00.000026+00:00    2.732082
2015-01-01 03:30:00.000013+00:00    2.407883
2015-01-01 04:30:00+00:00           1.952389
Name: (6.00000,50.00000), dtype: float64